
<section class="container" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    
    <div class="portfolios">
        
        <div class="portfolio-item">
            <div >
                <ul><li><h3>Gesture controlled paint app for windows</h3></li></ul>
                    <pre>        A Paint app built using python where you can draw either using gestures Recognition by integrating OpenCV or with cursor</pre>
                    <ul><li><h3>Calendar Management System</h3></li></ul>
                    <pre>        For given month and date it shows the meeting/event schedules detail at that date in Excel Sheet (OPENXLSX to store in excel sheet)</pre>
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#https://github.com/Savitha22" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        
      
      
    </div>
</section>
<app-contact></app-contact>

